.card{

background:white;

border-radius:15px;

padding:15px;

text-align:center;

box-shadow:0 10px 20px rgba(0,0,0,0.15);

transition:0.4s;

}

.card:hover{

transform:translateY(-10px) scale(1.05);

box-shadow:0 15px 30px rgba(0,0,0,0.25);

}

.card img{

width:100%;

height:260px;

object-fit:cover;

border-radius:10px;

}

.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:30px;

padding:40px;

}
